/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* Main container */
.anime-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px; /* Set your desired maximum width */
  padding: 0 20px; /* Add some padding to avoid content sticking to the edges */
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1217;
  padding: 10px 20px;
}

.topbar-btn, .topbar-logo, .log-out-btn {
  color: #fff;
  text-decoration: none;
  font-family: "Rowdies", sans-serif;
}

.topbar-logo {
  max-width: 150px; /* Adjust the size of the logo */
}

.log-out-btn {
  background-color: #ff8c00;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.log-out-btn:hover {
  background-color: #e64a19;
}

/* Anime Info Section */
.anime-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.anime-info img {
  border-radius: 20px;
  max-width: 100%; /* Adjust the size of the image */
  height: auto;
}

.anime-synopsis-box {
  background-color: #0b1217;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  text-align: justify;
  font-family: "Rowdies", sans-serif;
}

.anime-synopsis {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}

.score-box {
  background-color: #0b1217;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  justify-content: space-between;
  align-items: center;
  font-family: "Rowdies", sans-serif;
}

.score-box .big-score {
  font-size: 40px;
  margin: 0;
}

.score-box img {
  max-width: 170px;
  height: auto;
}


/* Bottom Container */
.bottom-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* More Info Box */
.more-info-box {
  background-color: #0b1217;
  color: #fff;
  border-radius: 20px;
  font-family: "Rowdies", sans-serif;
  flex: 1;
  padding: 20px;
  max-width: 600px; /* Set maximum width */
}

.more-info-box button {
  background-color: #ff8c00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.more-info-box button:hover {
  background-color: #e64a19;
}

/* Recommendations */
.recommendations-container {
  padding: 20px;
  font-family: "Rowdies", sans-serif;
  flex: 1;
  max-width: 600px; /* Set maximum width */
  background-color: #0b1217;
  border-radius: 20px;
  color: #fff;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recommendation-item {
  width: calc(33.33% - 10px);
  transition: transform 0.3s ease; 
}

.recommendation-item a {
  text-decoration: none;
  color: inherit;
}

.recommendation-item:hover {
  transform: scale(1.08);
}

.recommendation-image {
  border-radius: 20px;
  width: 100%;
  max-height: 200px; /* Adjust the size of the image */
}

.recommendation-item h4 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
