.reset-password-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #111920;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  overflow: auto;
  color: white;
}

.reset-password-logo {
  max-height: 80px;
  width: auto;
  margin-bottom: 24px;
}

.reset-password-content {
  width: 100%;
}

.reset-password-input {
  padding: 12px;
  margin-bottom: 16px;
  border: 2px solid #2a2f33;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  width: calc(100% - 24px);
  transition: border-color 0.3s;
}

.reset-password-input:focus {
  outline: none;
  border-color: #f44336;
}

.reset-password-submit-btn {
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 20px;
  color: white;
  width: calc(100% - 24px);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-password-submit-btn {
  background-image: linear-gradient(to right, #1976D2, #f44336);
}

.reset-password-submit-btn:hover {
  background-color: #1976D2;
}